# Dependencies
/node_modules

# Next.js build output
/.next/
/out/

# Production
/build

# Miscellaneous
.DS_Store
*.pem
tutor.md

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env*.local
.env
